@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: red;
}

.page-layout {
  display: flex;
  padding: 112px 0px;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  
  background-size: cover;
  background-repeat: no-repeat;
}

:root {
  --background: #ffffff;
  --foreground: #1c1616;
  --color-grey-98: #FAFAFA;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: radial-gradient(
      52.52% 32.71% at 50% 97.66%,
      rgba(36, 160, 181, 0.20) 0%,
      rgba(36, 160, 181, 0.00) 100%
    ),
    #02191D;
  font-family: Arial, Helvetica, sans-serif;
}
